python/**/__pycache__

python/train_data

python/CNN-Flower/data

python/ANN-DNN-DigitRecognize/MNIST_data
python/CNN/data/
python/CNN-Numpy-Temp/fig

python/R-CNN/data_set
python/R-CNN/output
python/R-CNN/fine_tune_model
python/R-CNN/output_RCNN
python/R-CNN/pre_train_model
python/R-CNN/svm_train/1/
python/R-CNN/svm_train/2/

python/Faster-RCNN/data/imagenet_weights
python/Faster-RCNN/data/VOCdevkit2007
python/Faster-RCNN/default
python/Faster-RCNN/**/__pycache__

python/YOLO_v2/data/Pascal_voc
python/YOLO_v2/**/__pycache__
python/YOLO_v2/data
python/YOLO_v2/test

python/YOLO_v3/data/coco/train.txt
python/YOLO_v3/data/VOCdevkit/
python/YOLO_v3/data/train_data/
python/YOLO_v3/data/train_data/quick_train_data/tfrecords/quick_train_data.tfrecords
python/YOLO_v3/data/train_data/quick_train_data/tfrecords/quick_val_data.tfrecords